{% extends 'base.html' %}

{% block content %}
    <h2 class="text-center"> {{ user.username }} </h2>

    {% if request.user.id == user.id %}
        <a href="{% url 'home:post_create' %}" class="btn btn-primary">Create</a>
        <a href="{% url 'account:edit_user' %}" class="btn btn-info">Edit Profile</a>
    {% endif %}

    {%  for post in posts %}
{#        <a href="{% url 'home:post_detail' post.id post.slug %}" class="card-body">{{ post.body | truncatewords:8 }}</a>#}
        <a href="{{ post.get_absolute_url }}" class="card-body">{{ post.body | truncatewords:8 }}</a>
    {% endfor %}
{% endblock %}