{%  extends 'base.html' %}

{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}


{#    <h3>Home page</h3>#}
{#    {{ todos1 }}#}

{% block title %} Home {% endblock %}

{% block content %}


    {% for todo in todos1 %}
        <a href="/detail/{{ todo.id }}"> {{ todo.first_name }} </a>></br>
<!--        <small> {{ todo.last_name }} </small>-->
<!--        <p> {{ todo.body }} </p>-->
    {% endfor %}

{% endblock %}



{#</body>#}
{#</html>#}




























